.container{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
}
.title{
  
  margin-top: 80px;
  padding: 1rem 0 ;
  text-transform: capitalize;
}

@media screen and (max-width: 768px){
  .container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid_item{
    box-sizing: border-box;
    margin: 0 auto;
  }
}