.containerShow{
  width: 300px;
  position: absolute;
  right: 1px;
  top: 90px;
  box-shadow: -10px 8px 14px -8px var(--shadow-color);
  padding: 1rem;
  background-color: white;
  transition: 1000s ease-in;
  cursor: default;
  border-radius: 0 0 20px 20px;
}
.wrapperIcon{
  border-bottom: 2px solid white;
  border-radius: 100%;
  padding: 8px 10px;
  transition: all ease-in-out .3s;
}
.wrapperIcon:hover{
  border-bottom: 2px solid var(--yellow-color);
  border-radius: 100%;
  padding: 8px 10px;
  transition: all ease-in-out .3s;
}
.wrapper{
  text-align: justify;
  /* margin-left: 10px; */
}
.containerHide{
  display: none;
  transition: 1000s ease-out;
}
.containerContent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.img{
  margin: 30px 0;
  border-radius: 100px;
}
.menu{
  list-style: none;
}
.sparator{
  border-top: 1px solid var(--gray-color);
  margin: 2px 0;
}
.userName, .email, .membership{
  margin: 10px;
  font-weight: 500;
}
.email{
  font-size: 14px;
  color: var(--gray-color);
}
.membership{
  font-size: 14px;
}
.membership span{
  color: var(--red-color);
  font-weight: 600;
}
.listMenu{
  text-decoration: none;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
  transition: all ease-in-out .3s;
}
.listMenu:hover{
    border-bottom: 3px solid var(--yellow-color);
    /* border-radius: 8px; */
    margin: 10px;
    cursor: pointer;
    padding: 10px 0;
    transition: all ease-in-out .3s;
}