
.favorite__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.filter{
    width: fit-content;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
}

.title {
    margin-top: 80px;
    padding: 1rem 0;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid_item {
        box-sizing: border-box;
        margin: 0 auto;
    }
}