.container{
  background:linear-gradient(180deg, rgba(0,32,63,0.1516981792717087) 0%, var(--navy-color) 100%), url('../../public/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
  padding: 5rem 3rem;
  color: white;
 
}
.content{
  /* display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-content: end; */
  position: absolute;
  right: 0;
  padding: 0 1rem;
}
.title, .subtitle, .text{
  margin: 5px 0;
  text-transform: capitalize;
  text-align: justify;
}
.title{
  font-weight: 500;
}
.subtitle{
  font-weight: 700;
  color: var(--red-color);
}
