.container{
  max-width: 500px;
  height: 200px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius:10px ;
  display: grid;
  grid-template-columns: .7fr .8fr;
  
}
.img_cart{
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.desc{
  color: black;
}
.desc_disabled{
  color: gray;
}
.btn{
  margin: 8px 0;
  display: flex;
}
.btn_decr{
  border: 2px solid var(--red-color);
  color: var(--red-color);
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-radius:100%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.btn_incr{
  border: 2px solid var(--green-color);
  color: var(--green-color);
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-radius:100%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.btn_trash{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
  /* margin: 10px; */
  
}
.btn_incr:hover{
  border: 2px solid var(--green-2-color);
  background-color: var(--green-2-color);
  color: #fff;
}
.btn_decr:hover{
  border: 2px solid var(--red-2-color);
  background-color: var(--red-2-color);
  color: #fff;
}
.brand{
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
  text-transform: capitalize;
}
.price{
  padding: 8px 0;
}
.count{
  margin:  3px 10px;
  width: 20px;
  display: inline;
  text-align: center;
  justify-content: center;
  color: gray;
}
@media screen and (max-width: 768px){
  .container{
    max-width: 500px;
  }
  .price{
    font-size: 18px;
  }
  
}