.container{
  /* background-color: var(--border-color); */
  height: 100%;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
.wrapper{
  /* background-color: blue; */
  width: 50%;
  padding: 1rem 3rem;
}
.img{
  margin: 0 auto;
}
.card{
  margin-right: 1rem;
  width: 380px;
  padding: 2rem;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px var(--shadow-color);
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-top: 1rem; */
  /* background-color: red; */
}
.title{
  margin-top: 1rem;
}
.formGroup{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  /* padding: 1rem 0; */
}
.inpForm{
  padding: .5rem 1.5rem;
  margin: .25rem 0;
  border: 2px solid var(--border-color);
  border-radius: 15px;
}
.btn{
  box-shadow: 4px 4px 10px var(--shadow-color);
  margin: 24px 20px 24px 0;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: 700;
  width: 100%;
  border: 2px solid var(--blue-color);
  color: white;
  background-color: var(--blue-color);
}
.btn:hover{
  cursor: pointer;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  background-color: white;
  transition: 1000ms;
}
.helper span{
  color: var(--red-color);
  font-weight: 680;
  cursor: pointer;
  text-decoration: none;
}
.errorMsg{
  color: var(--red-color);
}
@media screen and (max-width: 414px) {
  .card{
    width: 100%;
    box-shadow: none;
  }
  .wrapper{
    display: none;
  }
}