.container {
  padding: 1.6rem;
}

.container_btn {
  margin: 1rem 0;
}

.container_desc {
  width: 500px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 10px 10px -9px var(--shadow-color);
  padding: .7rem 0;
  /* background-color: blue; */
}

.content {
  line-height: 1.8;
  float: right;
}

.title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 17px;
}

.priceDiscount {
  font-weight: 700;
  /* color: var(--red-color); */
}

.price {
  color: var(--gray-color);
  text-decoration: line-through;
}

.desc {
  text-align: justify;
}

.wrapper_discount {
  display: flex;
  gap: 30px;
}
.inpAddr{
  resize: none;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  height: 100px;
  padding: 10px 24px;
}
.container_discount {
  background-color: var(--red-color);
  padding: 0 10px;
  border-radius: 50px;
  /* text-align: center; */
  /* width: 40px; */
}

.discount {
  color: white;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  /* align-items: center; */
}

.btn_buy {
  padding: .5rem 4rem;
  margin: 0 1rem 0 0;
  background-color: transparent;
  border: 2px solid var(--blue-color);
  background-color: var(--blue-color);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 4px 4px 10px var(--shadow-color);
  transition: 100ms;
  width: 200px;
}
.btn_buyDisable{
  padding: .5rem 4rem;
  margin: 0 1rem 0 0;
  border: 2px solid var(--disable-color);
  background-color: var(--disable-color);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 4px 4px 10px var(--shadow-color);
  transition: 100ms;
  width: 200px;
}
.btn_buy:hover {
  /* background-color: var(--green-color); */
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  background-color: #fff;
  transition: 1000ms;
}

.btn_back {
  padding: .5rem 4rem;
  margin: 0 1rem 0 0;
  background-color: transparent;
  border: 2px solid white;
  background-color: white;
  color: var(--red-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 4px 4px 10px var(--shadow-color);
  transition: 100ms;
  width: 200px;

}
.btn_back:hover {
  /* background-color: var(--green-color); */
  border: 2px solid whitesmoke;
  color: var(--red-color);
  background-color: whitesmoke;
  transition: 1000ms;
}
.sizeWrapper{
  /* color: red; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px 0;
}
.selectSize{
  /* border-radius: 8px solid var(--border-color); */
  padding: .5rem ;
  border-radius: 8px;
  width: 200px;
  font-weight: 600;
}
.helper{
  color: var(--red-color);
  font-weight: 600;
}
.linkSize{
  font-weight: 650;
  font-size: 12px;
  color: var(--red-color);
}
.linkSize:hover{
  color: var(--blue-color);
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .container {
    margin-bottom: 2rem;
    padding: 0 1.8rem;
  }

  .desc {
    font-size: 16px;
  }

  .container_btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 767px) and (min-width: 414px){
  .container {
    width: 400px;
    text-align: center;
    margin: 2rem 0;
  }
  .title, .price, .rating, .helper {
    
    margin: .5rem auto;
    text-align: center;
  }

  .container_btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container_desc {
    width: 350px;
    align-items: center;
  }
  .wrapper_discount {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .container_discount {

    width: 100px;
    text-align: center;
    height: 30px;
    margin: 0 auto;
  }

  .desc {
    font-size: 12px;
  }
  .sizeWrapper{
    justify-content: center;
  }
}