.container{
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  padding: 0px 320px;
  align-items: center;
}
.content{
  display: flex;
  align-items: center;;
  justify-content: space-between;
  gap: 100px;
}
.img{
  background-size: cover;
}
@media screen and (max-width: 768px){
  .container{
    padding: 0 16px;
    /* background-color: red; */
  }
}
@media screen and (max-width: 414px){
  .container{
    margin: 2px 0;
    /* background-color: red; */
  }
}