.container{
  margin-top: 4rem;
}
.img{
  background: url('../../public/about.jpg');
  background-size: cover;
  background-position: center;
  height: 380px;
  margin: 0;
}
.title{
  padding-top: 6rem;
}
.title, .desc{
  text-transform: capitalize;
  text-align: center;
  /* line-height: 50px; */
}
.desc{
  padding-top: 1rem;
  font-size: 18px;
}
.desc span{
  color: var(--red-color);
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.desc span:hover{
  cursor: pointer;
}