.container{
  margin: 6rem auto;
}

.products{
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  row-gap: 20px;
}

@media screen and (max-width: 768px){
  .products{
    gap: 8px;
  }
}