.container{
  margin-top: 5rem;
}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  /* padding: 0; */
}
.filter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;  
}
.length_products{
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
  font-size: 15px;
  color: var(--gray-color);
  text-transform: capitalize;
}
.length_products span{
  color: var(--orange-color);
  font-weight: 600;
  text-decoration: underline;
}
.btnFilter{
  padding: 8px 15px;
  text-align: center;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: 680;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  background-color: white;
  cursor: pointer;
}
.btnFilter:hover{
  border: 2px solid var(--blue-color);
  background-color: var(--blue-color);
  color: white;
  transition: 1000ms;
}
@media screen and (max-width: 768px){
  .products{
    gap: 8px;
  }
  .filter{
    padding-top: 5rem;
    /* background-color: red; */
  }
}
@media screen and (max-width: 414px){
  .filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}