.footer{
    padding: 24px 32px;
    background-color: var(--navy-color);
    color: white;
}

.media_title{
    margin-bottom: 8px;
}

.container {
    display: flex;
    gap: 15rem;
    justify-content: center;
}

.copy_right{
    margin-top: 32px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        text-align: center;
        gap: 24px;
    }
}