.container_store, .container_bio, .container_brand, .container_contactus{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container_store{
  display: flex;
  justify-content: space-around;
  gap: 30px;
  
}
.container_bio{
  display: flex;
}
.container_brand{
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
}
/* .container_contactus{
  border: 1.9px solid var(--navy-color);
  border-radius: 8px;
  background-color: red;
  display: flex;
  grid-template-columns: 55% 45%;
  padding: 0;
  flex-direction: column;
} */
.content{
  width: 700px;
  line-height: 25px;
  text-align: justify;
}
.img{
  background-image: url('../../public/about1.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 10px 0 10px 0;
  width: 300px;
  height: 350px;
}
.title{
  color: var(--navy-color);
  font-weight: 800;
  font-style: oblique;
  text-align: center;
  margin-top: 1rem;
}
.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 50px;
}
.form{
  margin: 5rem 0;
  /* padding: 1rem; */
  
}
.input_email{
  box-sizing: border-box;
  display: flex;
  margin: 5px auto;
  padding: .8rem;
  width: 80%;
  height: 50px;
  border-style: none none solid none;
  border-radius: 5px;
  font-size: 18px;
}
.input_comment{
  box-sizing: border-box;
  display: flex;
  margin: 5px auto;
  padding: .8rem;
  width: 80%;
  height: 100px;
  border-style: none none solid none;
  border-radius: 5px;
  font-size: 18px;
  resize: none;

}
.btn_submit{
  box-sizing: border-box;
  display: flex;
  margin: 1rem auto;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(  --blue-color);
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;

}
@media screen and (min-width: 768px){
  .container_contactus{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
  }

}
