.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  /* width: 100%; */
  /* padding: 24px 0; */
  /* background-color: chartreuse; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  /* filter: blur(0); */
}
.title span{
  color: var(--red-color);
  text-decoration: underline;
  /* filter: blur(0); */
}

.container_collection {
  display: flex;
  /* background-color: red; */
}

.background_collection {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 180px;
  border-radius: 24px 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  text-align: center;
  color: white;
  gap: 14px;
  /* filter: blur(4px); */
}
.text {
  font-size: 12px;
}

.collections {
  padding: 5px 10px;
  height: 300px;
  border-radius: 0 16px 16px 0;
  background-color: whitesmoke;
}
.product{
  margin: auto;
  padding: 21px ;
  /* background-color: blue; */
}
.navigation {
  display: flex;
  gap: 4px;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.container_arrow {
  display: flex;
  align-items: center;
  height: 48px;
  border-radius: 100%;
  cursor: pointer;
}

.prev_arrow, .next_arrow {
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .container{
    /* background-color: red; */
    margin: 25px auto;
  }
  .background_collection {
    display: none;
    
  }
  .titleHeader{
    display: flex;
  }
  .collections{
    border-radius: 16px;
    background-color: white;
  }
  .product{
    padding: 28px 5px;
  }
  @media screen and (max-width: 414px) {
    .container{
      padding: 20px 25px;
    }
    .collections{
      border-radius: 16px;
      width: 300px;
      background-color: white;
    }
    .product{
      margin: 0 auto;
      justify-content: center;
    }
    .navigation {
      display: flex;
      gap: 4px;
      /* margin: 0 50px; */
      /* background-color: red; */
    }
  }
}