.container{
  margin: 5rem auto;
}
.wrapperTable{
  margin: 20px auto;
}
.title{
  text-align: center;
  color: var(--navy-color);
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .container{
    margin: 8rem auto;
  }
}