@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root{
  /* --navy-color: #00203F;
  --yellow-color: #F8CF65;
  --red-color: #F54545;
  --red-2-color: #D2001A;
  --blue-color: #1F72BE;
  --yellow-2-color: #F4DE13;
  --green-color: #5AA469;
  --green-2-color: #367E18;
  --gray-color: #414141;
  --gray-2-color: #7D9D9C;
  --orange-color: #DC5F00; */
  
  --blue-color: #0093E9;
  --navy-color: #001253;
  --disable-color: #3e6d9c8d;
  --red-color: #D2001A;
  --orange-color: #E14D2A;
  --orange-2-color: #FD841F;
  --yellow-color: #f2d21b;
  --shadow-color: #0000001a;
  --border-color: #20262E;
  --gray-color: #7D9D9C;
  --green-color: #367E18;
  --blur-color: rgba(77, 148, 170, 0.192);

}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  box-sizing: border-box;
}