.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

.hero__container{
    width: 500px;
    
}

.hero__headline{
    font-weight: 600;
    font-size: 28px;
}

.highlight{
    font-weight: 800;
    color: var(--red-color);
}

.hero__headlinesupport{
    line-height: 180%;
    text-align: justify;
}

.cta{
    padding: 12px 24px;
    border-radius: 8px;
    border: 0;
    background-color: var(--yellow-color);
    font-weight: 700;
    margin-top: 16px;
}

.cta:hover{
    background-color: var(--yellow-2-color);
}

.banner{
    width: 400px;
    padding: 0 1rem;
}

/* BRAND */
.section__container{
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
}
.section__title{
    text-align: center;
    font-size: 24px;
}

.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap: 50px;
}
/* END BRAND */

/* PRODUCT */
.product{
    display: flex;
    overflow-x: scroll;
    /* padding: 24px; */
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 100px;
}

.item{
    flex: 0 0 100%;
    scroll-snap-align: start;
}
/* END PRODUCT */

@media only screen and (max-width: 768px) {
    .hero{
        text-align: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .hero__headline{
        /* text-align: center; */
        font-weight: 600;
        font-size: 28px;
    }

    .hero__headlinesupport{
        font-size: 12px;

    }

    .banner{
        display: none;
    }
}
@media screen {
    
}
